<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.CucumberReport" />
	</listeners>
	<test name="Web_Test">
		<classes>
			<class name="com.runner.WebTestRunner"/>
		</classes>
	</test>
	<test name="API_Test">
		<classes>
			<class name="com.runner.APITestRunner"/>
		</classes>
	</test>
</suite> 